.banner{
  margin: 0 24px;
}
.banner-area{
  margin-right: 25rem;
  width: fit-content;
  aspect-ratio: 2.9;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner-area a{
  display: none;
  left: 0;  
  right: 0;
  top: 0;
}
.banner-area a img{
  max-width: 35vw;
  max-height: 35vh;
  height: fit-content;
}
.banner-area a.active{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.banner-counter-area{
  position: inherit;
  padding-top: 22rem;
  display: flex;
  justify-content: center;
}
.banner-counter{
  display: inline-flex;
  gap: 10px;
  margin-top: 15px;
  padding: 10px;
  background-color: rgba(0,0,0, 0.3);
}
.banner-counter-item{
  width: 28px;
  height: 28px;
  border: 2px solid rgba(0,0,0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.banner-counter-item.active{
  background-color: #ffffff;
  border: 2px solid rgba(0,0,0, 0.5);
}

/* Nome dos autores */
.image-caption {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 5px;
}

.adolfo, .julio{
  height: 80%;
}

.containerTeste{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#titleAutor{
  font-size: 2.6rem;
  max-width: 60vw;
}

#txtContent{
  font-size: 1.6rem;
  max-width: 65vw;
  margin-left: 6rem;
}
