@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VT323", Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(../imgs/background-autores.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  background-position-y: -7.5vh;
}

.span img {
  width: 100%;
}

header {
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  background-color: #c1c1c0;
  align-items: center;
  margin-top: -0.4vw;
}

.links {
  width: 45vw;
  display: flex;
  justify-content: space-around;
}

.links a {
  text-decoration: none;
  color: black;
  font-size: 2.9vw;
}
.links a:hover {
  color: rgb(86, 84, 84);
}

.logo-header img {
  width: 3.8vw;
  border-left: 0.3vw solid gray;
  height: auto;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.escola {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 11vh;
  font-size: 42px;
}

.info {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 5vh;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 6vh;
}

.leftside {
  margin-left: 18vw;
  text-align: center;
}

.leftside h3 {
  font-size: 30px;
}

.leftside p {
  font-size: 20px;
}

/* Container principal do carrossel */
.slide-container {
  position: relative;
  width: 100%; /* Carrossel ocupa 100% da largura disponível */
  max-width: 30vw; /* Ajuste o valor para o tamanho desejado */
  margin: 0 auto; /* Centraliza o carrossel na tela */
  overflow: hidden;
  height: 40vh;
  margin-right: 13vw;
}

/* Container das imagens */
.image-container {
  display: flex;
  transition: transform 1s ease-in-out;
}

/* Estilizando as imagens do carrossel */
.slider-image {
  width: 100%;
  max-height: 50vh;
  height: 100%; /* Faz com que a imagem ocupe toda a altura do contêiner */
  object-fit: cover; /* Faz a imagem cobrir todo o espaço do contêiner, sem distorção */
  object-position: center center; /*Centraliza a imagem dentro do contêiner (horizontal e verticalmente);*/
}

/* Animando o carrossel para rotação automática */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Aplica a animação ao container de imagens */
.image-container {
  animation: slide 10s infinite;
}
