@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VT323", Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: auto;
  background-image: url(../imgs/background-autores.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  background-position-y: -7.5vh;
}

.span img {
  width: 100%;
}

header {
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  background-color: #c1c1c0;
  align-items: center;
  margin-top: -0.4vw;
}

.links {
  width: 45vw;
  display: flex;
  justify-content: space-around;
}

.links a {
  text-decoration: none;
  color: black;
  font-size: 2.9vw;
}
.links a:hover {
  color: rgb(86, 84, 84);
}

.logo-header img {
  width: 3.8vw;
  border-left: 0.3vw solid gray;
  height: auto;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.overflow{
  justify-content: center;
  overflow-y: scroll;
  height: fit-content;
}

.escola {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 11vh;
  font-size: 42px;
}

.info {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 5vh;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 6vh;
}

.leftside {
  margin-left: 18vw;
  text-align: center;
}

.leftside h3 {
  font-size: 30px;
}

.leftside p {
  font-size: 20px;
}