@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VT323", Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(./imgs/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

.span img {
  width: 100vw;
}

header {
  width: 100vw;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #c1c1c0;
  align-items: center;
  margin-top: -3px;
}

.links {
  width: 45vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.links a {
  text-decoration: none;
  color: black;
  font-size: 2.8vw;
}

.links a:hover {
  color: rgb(86, 84, 84);
}

.logo-header img {
  width: 3.8vw;
  border-left: 4px solid gray;
  height: auto;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10vw 0 5vw;
}

.leftside {
  display: flex;
  flex-direction: column;
  margin-top: 5.3vw;
}

.janela-naturalismo {
  width: 34.1vw;
  margin-bottom: 2.2vw;
  margin-left: 7.5vw;
}

.img .img-machado {
  width: 42.7vw;
  height: 40.7vh;
  padding-left: 5px;
  padding-bottom: 1.5vw;
}

.img .img-machado:hover {
  transform: scale(1.1);
  transition: 0.6s ease-out;
  border-radius: 5px;
}

.rightside {
  margin-top: 4.5vw;
  margin-left: 6.8vw;
}

.janela-realismo {
  width: 34vw;
  margin-bottom: 2.3vw;
  margin-left: 2vw;
}

.img .img-aluisio {
  width: 42.7vw;
  height: 40.7vh;
  padding-left: 5px;
  padding-bottom: 1.5vw;
}
.img .img-aluisio:hover {
  transform: scale(1.1);
  transition: 0.6s ease-out;
  border-radius: 5px;
}
